<nav class="navBar navBar-expand-lg navBar-dark bg-dark">
    <a class="navBar-brand"><b>GITHUB SEARCH</b></a>
    <button class="navBar-toggler" type="button" data-toggle="collapse" data-target="#navBarNavAltMarkup" aria-controls="navBarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navBar-toggler-icon"></span>
    </button>
    <div class="collapse navBar-collapse" id="navBarNavAltMarkup">
        <div class="navBar-nav">
            <a class="nav-item nav-link active" routerLink="user-profile">user<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="repository">repository</a>
        </div>
    </div>
  </nav>