<div class="container">
    <link href="https://fonts.googleapis.com/css?family=Lemonada&display=swap" rel="stylesheet">
    <ng-progress></ng-progress>
  
    <app-deep-form (searchIn)="search($event)"></app-deep-form>
    <div class="container" *ngIf='searchUser'>
        <div class="card-body">
            <div class="row">
                <div>
                    <img src="{{users.avatar_url}}" class="rounded-circle">
                    <ul class="list-group">
                        <li class="list-group-item">Username: {{users.name}}</li>
                        <li class="list-group-item">Name: {{users.login}}</li>
                        <li class="list-group-item">Email: {{users.email}}</li>
                        <li class="list-group-item">{{users.created_at | datePipes}}</li>
                    </ul>
                    <div class="profile">
                        <span class="btn btn-info"> PUBLIC REPO  {{users.public_repos}}</span>
                        <span class="btn btn-primary"> FOLLOWERS {{users.followers}}</span>
                        <span class="btn btn-info">FOLLOWING {{users.following}}</span>
                    </div>
                    <span><a href="{{users.html_url}}" class="btn btn-success">View Profile</a></span>
                </div>
  
            </div>
        </div>
  
        <div class="jumbotron">
            <h3 class="card-header text-center">Repositories</h3>
            <div class="card" *ngFor='let repository of repositorys'>
                <div class="card-row">
                    <div class="card-header text-center">
                        <h4>{{repository.name}}</h4>
                        <div class="card-body">
                            <div class="">
                                <div class="col">
                                    <p>{{repository.description}}</p>
                                    <p>{{repository.language}}</p>
                                    <button class="btn btn-warning">Watcher: {{repository.watchers}}</button>
                                    <button class="btn btn-primary">Forkers: {{repository.forks}}</button>
                                    <p>Created: {{repository.created_at | datePipes}}</p>
                                    <span><a href="{{repository.html_url}}" class="btn btn-success">View More</a></span>
  
                                </div>
  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    </div>
  
  </div>